.vscode/**
.vscode-test/**
src/**
out/**
.gitignore
.prettier*
eslint.config.mjs
tsconfig.json
node_modules/**
*.vsix
.claude
CLAUDE.md
*.log
.git*
*.md
*.toml
*.yml
bun*
.*
.github
docs/
*.chatreplay.json
renovate.json
!README.md
!CHANGELOG.md
!LICENSE.md
!dist/o200k_base.tiktoken
